body{
    font-family: 'roboto', sans-serif;
}
:root {
    --accent-color: #1e90ff;
}
a{
    color: var(--accent-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline; font-weight: 500;
}
#intro {
    display: flex;
    gap: 20px;
    align-items: center;
}
#intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.intro-text{ 
    max-width: 600px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 36px;
    margin-bottom: 10px;
}
h2{
    font-size: 26px;
    margin-bottom: 8px;
}
p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #444;
}
section{
    padding: 30px 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease; transform: 0.3s ease;
}
h1, h2{
    color: var(--accent-color);
}
section h2{
    text-align: center;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
}
section h2:hover{
    color: #104e88;
    cursor: default;
}
a, section h2{
    transition: color 0.3 ease;
}
li{
    margin-bottom: 10px;
}
#skills{
    background-color: #f0f6ff;
}
#projects{
    background-color: #ffffff;
}
#experience{
    background-color: #f0f6ff;
}
#achievement{
    background-color: #ffffff;
}
#contact{
    background-color: #f0f6ff;
}